.login {
    background-color: darkcyan !important; /* Adding !important to ensure the background color applies */
    width: 25%;
    margin: 50px auto;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
}

.loginForm .inputGroup {
    width: 100%;
    display: flex;
    flex-direction: column;
}

    .loginForm .inputGroup label {
        margin-top: 10px;
        text-align: left;
        color: antiquewhite;
    }

    .loginForm .inputGroup input {
        margin-top: 5px;
        padding: 10px;
    }

.inputGroup .btn.btn-success {
    margin-top: 10px;
    background-color: #cad2c5;
}

.login .register-link {
    width: 50%;
    background-color: mediumaquamarine;
}

.login h3 {
    text-align: center;
    font-weight: bold;
    color: antiquewhite !important;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}
